#!/snap/bin/pwsh
$dir = '/etc/cron.d'
$discovery_file = "{{ cron_discover_file }}"

if (!(Test-Path $discovery_file)) {
    New-Item $discovery_file -type "file"
}

Clear-Content $discovery_file

Get-ChildItem -Path $dir -Recurse -File  | ForEach-Object {
    $file = $_.FullName
    $lines = Select-String -Path $file  -Pattern "^#Ansible:\s+(?<name>.+)$" -AllMatches

    $lines | % {
        $name = $_.Matches[0].Groups['name'].Value     
        $name | Add-Content $discovery_file
        echo $name
    }
}
