#!/snap/bin/pwsh
$dir = '/etc/cron.d'
$discovery_file = "{{ cron_discover_file }}"

function Invoke-Sudo {
    & /usr/bin/env sudo pwsh -command "& $args"
}

if (!(Test-Path $discovery_file)) {
    New-Item $discovery_file -type "file"
}

Clear-Content $discovery_file

Get-ChildItem -Path $dir -Recurse -File  | ForEach-Object {
    $cronname = ($_.NAME)
    if ($cronname -like "ansible_*") {
        $cronname -replace '^ansible_(.*)','$1' | Add-Content $discovery_file
    }
}